.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: $primary-color;
    padding: 10px 20px;
    margin-bottom: 50px;

    &-right {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        color: #fff;
        margin-bottom: 0;

        li {
            margin: 0 20px;
        }
    }

    #logo_batmovies {
        display: flex;
        align-items: center;

        img {
            max-width: 270px;
        }
    }

    #search-form {
        display: flex;
        flex-direction: row;
        height: 40px;

        .search-bar {
            width: 300px;
            border-radius: 10px 0 0 10px;
            border: none;
        }

        .search-button {
            background-color: transparent;
            border: none;
            color: #fff;
            padding: 0 10px;
            font-size: 18px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}